@font-face {
    font-family: 'ScalaSansSC';
    src: url('scalasanssccomp-bold-webfont-eot.eot');
    src: url('scalasanssccomp-bold-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('scalasanssccomp-bold-webfont-woff.woff') format('woff'),
         url('scalasanssccomp-bold-webfont-ttf.ttf') format('truetype'),
         url('scalasanssccomp-bold-webfont-svg.svg#scalasanssccomp-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ScalaSans';
    src: url('scalasanscomp-bold-webfont-eot.eot');
    src: url('scalasanscomp-bold-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('scalasanscomp-bold-webfont-woff.woff') format('woff'),
         url('scalasanscomp-bold-webfont-ttf.ttf') format('truetype'),
         url('scalasanscomp-bold-webfont-svg.svg#scalasanscomp-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ScalaSansSC';
    src: url('scalasanssccomp-webfont-eot.eot');
    src: url('scalasanssccomp-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('scalasanssccomp-webfont-woff.woff') format('woff'),
         url('scalasanssccomp-webfont-ttf.ttf') format('truetype'),
         url('scalasanssccomp-webfont-svg.svg#scalasanssccompregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ScalaSans';
    src: url('scalasanscomp-webfont-eot.eot');
    src: url('scalasanscomp-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('scalasanscomp-webfont-woff.woff') format('woff'),
         url('scalasanscomp-webfont-ttf.ttf') format('truetype'),
         url('scalasanscomp-webfont-svg.svg#scalasanscompregular') format('svg');
    font-weight: normal;
    font-style: normal;
}