/* FOOTER */

/* --------------------------------- */
.navFooter {
	font-size: 1em;
	max-width: 66em;
	margin: 0 auto;

}
@media all and (max-width:48em) {
	.navFooter {
		padding: 0 2em
	}

}
@media all and (max-width:66em) {
	.navFooter {
		max-width: 92%;
	}

}
.navFooter h6 {
	font-size: 1em;
	padding-bottom: .5em;
	border-bottom: 1px solid lighten($copy-color, 50%);
}
@media all and (max-width:48em) {
	.navFooter h6 {
		padding-top: 2em
	}
}
.navFooter li {
	line-height: 2em;
	border-bottom: 1px solid lighten($copy-color, 50%);
}
@media all and (max-width:48em) {
	.navFooter {
		padding: 0 2em
	}
	.navFooter h6 {
		padding-top: 2em
	}
}

/* --------------------------------- */

.footer {
	color: $primary-color;
	border-top: 1px solid $accent-color;
	background-color: $siteborder-color;
	margin: 0 auto;
	padding: 3em 0;
	color: lighten($copy-color, 20%);
	line-height: 1.5em;
	max-width: 60em
}

.row.row-fullWidth.footer {
	margin-top: 5em;
}
.footer li a {
	color: lighten($copy-color, 20%);
	margin: 0 .8em 0 0;
	text-decoration: none;
	display: block;
}
.footer a.first, a.AdChoices {
	margin-left: 0
}
.footer {
	border-top: 1px solid lighten($copy-color, 50%);
}
@media all and (max-width:48em) {
	.footer {
		padding: 1em 0;
	}
	.footer a {
		margin: 0;
		padding: .3em 0;
		display: block;
	}
}


/* Icons to the right of input box */
li.icon-links a {
	display: inline;
}

/* Bottom FOOTER */
.subfooter {
	color: $primary-color;
	border-top: 1px solid darken($siteborder-color, 9);
	background-color: darken($siteborder-color, 5);
	margin: 0 auto;
	padding: 1em 0 ;
	color: lighten($copy-color, 20%);
	line-height: 1em;
	max-width: 60em
}
.row.row-fullWidth.subfooter {
	margin-top: 0em;
}
.subfooter li {
	display: inline-block;
	padding: .5em 0 .5em 0;
	border-bottom: 0px;

}
.subfooter li a {
	color: lighten($copy-color, 20%);
	margin: 0;
	padding: 0 .5em;
}
.subfooter a.first {
	margin-left: 0
}
.subfooter  {
	border-top: 1px solid lighten($copy-color, 50%);
}
@media all and (max-width:48em) {
	.subfooter  {
		padding: 1em 0;
	}
}






.subfooter .nav-socialLinks {
	font-size: 1.5em;
}
.subfooter .legal {
	font-size: 1em;
	padding: .8em 0;
}
@media all and (max-width:48em) {
	.nav-socialLinks .mobile-headline {display: block;}
	.subfooter .nav-socialLinks a {
	font-size: 1.75em;
	padding-right: .35em;
}
}

