/*grid*/
/* Row CSS from http://foundation.zurb.com/ */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1.5em;
  max-width: 60em;
  padding: 0; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .grid,
  .row.collapse > .grid {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    /*margin-left: -0.9375em;
    margin-right: -0.9375em;*/
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    padding: 0 }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }	

@media all and (max-width: 48em) {
	.row {
		margin-bottom: 0em;
	}
} 

@media all and (min-width: 70em) {
	.row{
		max-width: 66em;
	}
}       

.row.row-noBottomMargin {margin: 0 auto;}
header .row {margin: 0 auto;}

@media all and (max-width: 48em) {
	.row.row-noBottomMargin .grid{
		margin-bottom: 0em;
	}
}

.row.row-fullWidth {margin: 0 auto;max-width: 100%;}

.grid {
	padding: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	float: left;

}

@media all and (max-width: 48em) {
	body .grid {
		display: block;
		width: 100%;
		margin-bottom: 1.5em;
	}
}

.grid-container {
	min-height: 5em;
}


/* Base 12 Grid System 5em=80px 60em=960px

I'd like to figure out why I need to use this many decimals to make all the em's add up to 60em
grid 1, 2, 10, 11, 12 don't have margin-right since grid 1 and 2 are to small to use unless they are a bit larger.

*/
.grid-margin {margin-right: 3%;}
.grid-1 {
	width: 8.3333%;
}
.grid-2 {
	width: 16.6667%;
}
.grid-3 {
	@extend .grid-margin;
	width: 24.5%;
}
.grid-3x4 {
	@extend .grid-margin;
	width: 22.75%;
}
.grid-4 {
	@extend .grid-margin;
	width: 33%
}
.grid-4x3 {
	margin-right: 3%;
	width: 31.334%
}
.grid-5 {
	@extend .grid-margin;
	width: 42%;
}
.grid-6 {
	@extend .grid-margin;
	width: 48.5%;
}
.grid-6 .grid-6 {
	width:47%;
	margin-right: 6%;
}
.grid-7 {
	@extend .grid-margin;
	width: 55%;
}
.grid-8 {
	@extend .grid-margin;
	width: 64%;
}
.grid-9 {
	@extend .grid-margin;
	width: 72.5%;
}
.grid-10 {
	width: 83.3333%;
}
.grid-11 {
	width: 91.66667%;
}
.grid-12 {
	width: 100%;
}

/* Base 12 Grid System 5em=80px 60em=960px

I'd like to figure out why I need to use this many decimals to make all the em's add up to 60em
grid 1, 2, 10, 11, 12 don't have margin-right since grid 1 and 2 are to small to use unless they are a bit larger.

*/
.grid-1-noMargin {
	width: 8.3333%;
}
.grid-2-noMargin {
	width: 16.6667%;
}
.grid-3-noMargin {
	width: 25%;
}
.grid-4-noMargin {
	width: 33.3333%
}
.grid-5-noMargin {
	width: 41.6667%;
}
.grid-6-noMargin {
	width: 50%;
}
.grid-7-noMargin {
	width: 58.3333%;
}
.grid-8-noMargin {
	width: 66.6667%;
}
.grid-9-noMargin {
	width: 72.5%;
}
.grid-10-noMargin {
	width: 83.3333%;
}
.grid-11-noMargin {
	width: 91.66667%;
}
.grid-12-noMargin {
	width: 100%;
}

/* Base 12 Grid System 5em=80px 60em=960px*/
.grid-last {
	margin-right: 0%;
	margin-left: 0%;
}
.grid-1-last {
	@extend .grid-1;
	@extend .grid-last;
}
.grid-2-last {
	@extend .grid-2;
	@extend .grid-last;	
}
.grid-3-last {
	@extend .grid-3;
	@extend .grid-last;
}
.grid-3x4-last {
	@extend .grid-3x4;
	@extend .grid-last;		
}
.grid-4-last {
	@extend .grid-4;
	@extend .grid-last;		
}
.grid-4x3-last {
	@extend .grid-4x3;
	@extend .grid-last;		
}
.grid-5-last {
	@extend .grid-5;
	@extend .grid-last;
}
.grid-6-last {
	@extend .grid-6;
	@extend .grid-last;
}
.grid-6 .grid-6-last, .grid-6-last .grid-6-last {
	width:47%;
	@extend .grid-last;
}
.grid-7-last {
	@extend .grid-7;
	@extend .grid-last;
}
.grid-8-last {
	@extend .grid-8;
	@extend .grid-last;
}
.grid-9-last {
	@extend .grid-9;
	@extend .grid-last;
}
.grid-10-last {
	@extend .grid-10;
	@extend .grid-last;
}
.grid-11-last {
	@extend .grid-11;
	@extend .grid-last;
}
.grid-12-last {
	width: 100%;
}