/*MODULE*/
.module {
	min-height: 1em;
	padding: 1.5em;
	width: auto;
}
.module-content {
	line-height: 1.5em;
	color: $copy-color;
}

.module-advisorybgContainer {
	@extend .module;	
	width: auto;
	background: #fcedac url(http://www.alaskaair.com/content/~/media/Images/onSite/icons/advisory) 1.5em center no-repeat;
	display: block;
	box-shadow: 0 0 1px $advisory-bordercolor;
	padding-left: 4em;
	min-height: 1em;
	color: $advisory-bordercolor;
}

.module-advisoryContainer {
	@extend .module-advisorybgContainer;	
	background-color: $sitemodule-color;
}

.module-advisoryTextContainer {
	@extend .module-advisoryContainer;	
	background-image: none;
	padding-left: 1.5em;
}

.module-whiteContainer {
	@extend .module;	
	background-color: $sitemodule-color;
	display: block;
	box-shadow: 0 0 1px $siteborder-color;

}

.module-blueContainer {
	@extend .module;	
	background-color: rgba( $primary-color, .4 );
	display: block;
	box-shadow: 0 0 1px $siteborder-color;

}
.module-blueContainer:hover {
	background-color: rgba( $primary-color, .6 );
}

.module-tealContainer {
	width: auto;
	background-color: rgba( $teal-color, .84 );
	display: block;
	box-shadow: 0 0 1px $siteborder-color;

}


/* Grid with 3 or 4 destination*/
.panelGrid .module-content {min-height: 5em;}
.panelGrid .module-whiteContainer{padding: 0; margin: 0}
.panelGrid .module-Picturecontainer {min-height: 10em;}
.panelGrid .module-tealContainer a {color: $white; text-decoration: none; padding: .5em 1em; display: block;}
.panelGrid .module-tealContainer a:hover {	background-color: darken( $teal-color, 5% ) ;}
.panelGrid .module-tealContainer a span {color: $teal-color;}
.panelGrid .grid.grid-3-noMargin .module-content {padding: 0 1em 1em;}
.panelGrid .grid.grid-3-noMargin .module-headlines {padding: 0em 1em 0em;}
.panelGrid .grid.grid-4-noMargin .module-headlines {padding: 0em 1em 0em;}
.panelGrid .grid.grid-4-noMargin .module-content {padding: 0 1em 1em;}
/* Hawaii Hero*/
.module-hero {
	min-height: 30em;
	background-image: url(http://www.brandonshields.com/alaska-airlines/asgridframework/images/hawaii.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 42%;
}
@media all and (max-width: 48em) {
	.module-hero {
		background-size: inherit;
		background-position: center;
	}
}



.module-heroText {
	padding: 2em 1em 1em;font-size: 2em;
	color: $white;
	text-align: center;
}
@media all and (max-width: 48em) {
.module-heroText {
	font-size: 1.75em;
	padding: .5em 1em 1em;
	color: $white;
	text-align: center;
}
}

.module-heroText h2, .module-heroText h3, .module-heroText h6 {color: $white;}

/* Seattle Hero*/
.module-hero-seattle {
	min-height: 27em;
	background-image: url(http://www.brandonshields.com/alaska-airlines/asgridframework/images/974x457_bg_sea-notype);
	background-size: 100%;
	background-repeat: no-repeat;
}

.module-heroText-seattle {
	padding: 2em 1em 1em;font-size: 2em;
	color: $white;
	text-align: center;
	visibility: hidden;
}

.module-heroText h2, .module-heroText h3, .module-heroText h6 {color: $white;}


/* Booking form*/

.module-bookingForm {
	background-color: rgba($sitemodule-color, .9);
	padding: 1em;
}

.module-bookingForm li {
	display: inline-block;
}

.module-bookingForm .module-tealContainer a {color: $white; text-decoration: none; padding: .25em 1em; display: block;}
.module-bookingForm .module-tealContainer a:hover {	background-color: darken( $teal-color, 5% ) ;}
.module-bookingForm .module-tealContainer a span {color: $teal-color;}
.module-heroText .linkText {font-size: .5em}

.module-clearContainer {
	min-height: 1em;
	padding: 0;
	line-height: 1.5em;
	width: auto;

}

.module-darkaccentContainer {
	width: auto;
	display: block;
	background-color: darken( $accent-color, 20% ) ;
}

.module-emslSalmonContainer {
	width: auto;
	display: block;
	background-color: rgba( $emslsalmonwtransparency, .65 );
}
.module-emslBlueContainer {
	width: auto;
	display: block;
	background-color: rgba( $emslbluewtransparency, .7 );
}

.module-grayContainer {
	width: auto;
	display: block;
	background-color: rgba( $graywtransparency, .7 );
}

/* MODULE Horizontal Menu
http://css-tricks.com/keep-margins-out-of-link-lists/ 
*/
.module-horizontalMenu li {display:inline-block;margin-right: 1em;line-height: 2em;}
.module-horizontalMenu li a {padding:0 .3em 0 0; display:block;}
/*How do we want to do the sign in widget.*/
@media all and (max-width: 40em) {
	.module-horizontalMenu li {
		display: block;
		line-height: 2.5em;
		border-bottom: 1px solid rgba($subdued-txt, 0.5);
	}
}
@media all and (max-width: 40em) {
	.module-horizontalMenu li h4 {
		line-height: 2.5em;
	}
}


/*MODULE Vertical Menu*/
.module-verticalMenu li {line-height: 1.1em;}
.module-verticalMenu li a {margin-bottom: 1em; display:block;}



/*MODULE Headlines*/
.module-headlines { margin: 1em 0; font-weight: normal;}
.module-headlines * { font-weight: normal;}
.module-headlines h3 { color:$secondary-color;}
.module-headlines h4 { margin: .1em 0; color:lighten($secondary-color, 20%);}

/*MODULE Discover Module*/
.module-discover { font-weight: normal;}
.module-discover * { font-weight: normal;}
.module-discover a { text-decoration: none;}
.module-discover h2 { margin: 0em; line-height: 1em; color:$white;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);}
.module-discover h3 { margin: 0em; line-height: 1em;/*centers the text vertically*/ color:$white;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);}
.module-discover h4 { margin: 0em; line-height: 1em; color:$white;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);}

/*MODULE Discover Grid Module*/
.module-discover-grid { font-weight: normal;}
.module-discover-grid * { font-weight: normal;}
.module-discover-grid a { text-decoration: none;}
.module-discover-grid h2 { margin: 0em; line-height: 1em; color:$white;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);}
.module-discover-grid h3 { margin: 0em; line-height: 2em;/*centers the text vertically*/ color:$white;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);}
.module-discover-grid h4 { margin: 0em; line-height: 1em; color:$white;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);}



/*MODULE emsl boxes*/
.module-headlinesInBoxes { padding: 1em; }
.module-headlinesInBoxes { margin: 1em 0; font-weight: normal;}
.module-headlinesInBoxes * { font-weight: normal;}
.module-headlinesInBoxes h3 { color: lighten($secondary-color, 100%)}
.module-headlinesInBoxes h4 { margin: .1em 0; color: lighten($accent-color, 80%);}

/*MODULE sign in form*/
.module-form { margin: 1em 0 0 0; font-weight: normal;}
.module-form * { font-weight: normal;}
.module-form h3 { color:$secondary-color;}
.module-form h4 { margin: .1em 0; color:lighten($secondary-color, 20%);}


.module-Picturecontainer {
	min-height: 12em;
}

/*Used to give the pciture grid consistant buffer between images*/
.module-pictureWrapper{ margin-bottom: 1.5em}


.module-price { font-size: 2.5em; color: lighten($secondary-color, 100%); font-weight: normal;}

.module-textareaWhite span {font-size: .5em}


a.imageLinks {display: block; text-decoration: none;}