<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-size=1">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <div class="row row-noBottomMargin navHeader">
      <div class="grid grid-4">
        <nav class="nav nav-logoNav">
          <a href="#"><img src="http://www.alaskaair.com/content/~/media/Images/photos-infographics/d2e/alaska_script_cmyk.png"></a>
        </nav>
      </div>
      <div class="grid grid-8-last">
        <nav class="nav nav-mainPersonaNav">
          <ul>
            <li><a href="#">Welcome, {FirstName}</a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#"><i class="fa fa-plane"></i></a></li>
            <li><a href="#"><i class="fa fa-briefcase"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row row-fullWidth">
      <!--seems like we can do better for the navigation in case we want to put features in the nav bar-->
      <nav class="nav nav-mainNav">
        <ul>
          <li class="nav-mobile nav-book"><a href="#">Book</a></li><!--
          --><li class="nav-mobile nav-checkin"><a href="#">Check-In</a></li><!--
          --><li class="nav-hamburger"><a href="#footer"><i class="fa fa-navicon"></i></a></li><!--
          --><li class="nav-desktop nav-discover"><a href="#">Discover</a></li><!--
          --><li class="nav-desktop nav-travelInfo"><a href="#">Travel Info</a></li><!--
          --><li class="nav-desktop nav-travelInfo"><a href="#">Mileage Plan&trade;</a></li><!--
          --><li class="nav-search"><input type="search" results="5" autosave="some_unique_value" value="Search"></li><!--
          --><li class="nav-searchIcon"><a href="#footer"><i class="fa fa-search"></i></a></li>
        </ul>
      </nav>
    </div>
    <!--Wrap testing blockquote in "HP-TEST"-->
<section class="content">
      
      <!-- hero Section-->
<div class="row module-hero">
  <div class="grid grid-5">&nbsp;
  </div>
  <div class="grid grid-7-last">
    <div class="module-heroText">
      <h6>Discover</h6>
      <h2 class="emphasize">HAWAII</h2>
      <span class="linkText">Explore More. Spend Less. &raquo;</span>
    </div>
  </div>
</div>

<!-- Second Section-->
<div class="row">
  <div class="grid grid-4">
    <div class="module-whiteContainer">
      <div class="module-MyAccountSignUp"> <a id="signUpLink" class="subdued" title="Sign Up" tabindex="8" href="https://www.alaskaair.com/www2/ssl/myalaskaair/myalaskaair.aspx?CurrentForm=UCMyAccountCreate&amp;lid=MyAccount:Sign Up">Join MileagePlan&trade;</a> </div>
      <h3>Sign In</h3>
      <div class="module-form">
        <form action="https://www.alaskaair.com/www2/ssl/myalaskaair/myalaskaair.aspx?CurrentForm=UCSignInStart" method="post">
          <div class="module-MyAccountUserID">
            <div id="divUserId">
              <!--<label for="UserId" class="left">User ID</label>-->
              <a class="formhelp" id="forgotIdLink" title="Help Retrieving User ID" tabindex="5" href="https://www.alaskaair.com/myaccount/forgotcredentials/userid" onclick="if(s_gi){var s=s_gi('alaskacom');s.linkTrackVars='prop16';s.linkTrackEvents='None';s.prop16='MyAccount:Forgot User ID';s.tl(this,'o','MyAccount:Forgot User ID');s.prop16='';}as.authentication.forgotUserId(this.href);return false;" class="smallLink right">Forgot User ID?</a> </div>
              <div>
                <input class="module-myAccountInput" id="UserId" maxlength="50" autocorrect="off" tabindex="1" name="UserId" type="text" placeholder="User ID" value="">
              </div>
            </div>
            <div class="module-MyAccountPassWord">
              <div id="divPassword">
                <!--<label for="Password" class="left">Password</label>-->
                <a class="formhelp" id="forgotPasswordLink" title="Help Retrieving Password" tabindex="6" href="https://www.alaskaair.com/myaccount/forgotcredentials/password" onclick="if(s_gi){var s=s_gi('alaskacom');s.linkTrackVars='prop16';s.linkTrackEvents='None';s.prop16='MyAccount:Forgot Password';s.tl(this,'o','MyAccount:Forgot Password');s.prop16='';}as.authentication.forgotPassword(this.href);return false;" class="smallLink right">Forgot Password?</a> </div>
                <div>
                  <input class="module-myAccountInput" id="Password" maxlength="50" tabindex="2" name="Password" type="password" autocomplete="off" placeholder="Password" value="">
                </div>
              </div>
              <div class="module-MyAccountRememberMe">
                <input id="RememberMe" name="RememberMe" type="checkbox" tabindex="4" value="true">
                <label id="RememberMeLabel" for="RememberMe">Remember my User ID on this computer.</label>
                <div class="clear"></div>
              </div>
              <div class="btn-wrapper">
                <button id="myAccoutnSignInButton" class="btn btn-primary" tabindex="7" type="submit" value="SIGN IN">Sign In</button>
              </div>
              <input id="signInClient" name="signInClient" type="hidden" value="signInWidget">
              <div class="clear"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="grid grid-8-last"> <a id="miles" class="destination-rome imageLinks" href="https://www.applyonlinenow.com/USCCapp/Ctl/entry?cid=2110427">
        <div class="module-blueContainer">
          <div class="emphasize"  id="milesText"> <span>Go Places with</span>
            <h2><strong>25,000</strong> Bonus Miles</h2>
          <span>Alaska Airlines Visa Signature<span class="sup">&reg;</span> Card &raquo</span> </div>
        </div>
      </a> </div>
    </div>
    <!-- Quick Links-->
    <div class="row">
      <div class="grid grid-moduleWrapper">
        <div class="grid grid-12">
          <div class="module-whiteContainer">
            <ul class="module-horizontalMenu">
              <li>
                <h4>News &amp; Advisories:</h4>
              </li>
              <li><a href="http://www.alaskaair.com/content/travel-info/before-your-trip/travel-tips/travel-advisories.aspx?_z=z?lid=home-page:news-advisories::travel-advisories">Travel Advisories</a></li>
              <li><a href="http://www.alaskaair.com/content/travel-info/at-the-airport/airport-boarding-times.aspx?lid=home-page:news-advisories::check-in-time">Check-in Time Change</a></li>
              <li><a href="http://blog.alaskaair.com/">Alaska Airlines Blog</a></li>
              <li><a href="http://www.alaskalistens.com/">Alaska Listens</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
    <!-- Third Section-->
    <div class="row">
      <h2 class="headlines headlines-centered">Stunning Destinations</h2>
      <div class="grid grid-6"> <a id="emsl5" class="imageLinks" href ="http://www.alaskaair.com/content/deals/flights/cheapest-flights-to-hawaii">
        <div class="module-blueContainer">
          <div class="module-discover layout-discoverText">
            <h2 class="headlines-centered">Hawaii</h2>
          </div>
        </div>
      </a> </div>
      <div class="grid grid-6-last">
        <!-- Third Section-->
        <div class="row">
          <div class="module-pictureWrapper"> <a id="emsl6" class="imageLinks" href ="http://www.alaskaair.com/travelinfo/destinations/puertovallarta-mexico-overview">
            <div class="module-blueContainer">
              <div class="module-discover-grid layout-discoverText">
                <h3 class="headlines-centered">Puerto Vallarta</h3>
              </div>
            </div>
          </a> </div>
          <div class="row">
            <div class="grid grid-6"> <a class="destination-sandiego imageLinks" href ="http://www.alaskaair.com/travelinfo/destinations/sandiego-california-overview">
              <div class="module-blueContainer">
                <div class="module-discover-grid layout-discoverText">
                  <h3 class="headlines-centered">San Diego</h3>
                </div>
              </div>
            </a> </div>
            <div class="grid grid-6-last"> <a class="destination-newyork imageLinks" href ="http://www.alaskaair.com/travelinfo/destinations/newyork-newyork-overview">
              <div class="module-blueContainer">
                <div class="module-discover-grid layout-discoverText">
                  <h3 class="headlines-centered">New York</h3>
                </div>
              </div>
            </a> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section-->
    <div class="row">
      <div class="grid grid-moduleWrapper">
        <h2 class="headlines headlines-centered">Stunning Destinations</h2>
        <div class="grid grid-4x3">
          <div class="destination-vegas module-Picturecontainer"></div>
          <div class="module-headlines">
            <h3>Las Vegas</h3>
            <h4>A few nights of decadence</h4>
          </div>
          <div class="module-content"> Vegas, do we need to say more? America's playground for grownups is open 24/7 and waiting for you. Book it and tell your friends. <br />
            <a href="#">Learn More &raquo;</a></div>
          </div>
          <div class="grid grid-4x3">
            <div class="destination-newyork module-Picturecontainer"></div>
            <div class="module-headlines">
              <h3>New York</h3>
              <h4>Come to the center of it all</h4>
            </div>
            <div class="module-content"> It's probably the most iconic place in America and a city that truly lives up to its reputation. New York feels like the capital of the world. <br />
              <a href="#">Learn More &raquo;</a></div>
            </div>
            <div class="grid grid-4x3-last">
              <div class="destination-orlando module-Picturecontainer"></div>
              <div class="module-headlines">
                <h3>Orlando</h3>
                <h4>The theme park destination</h4>
              </div>
              <div class="module-content"> More fun than you can handle! Orlando is home to Walt Disney World<span class="sup">&reg;</span> , Universal Orlando<span class="sup">&reg;</span>, SeaWorld<span class="sup">&reg;</span>, and Legoland<span class="sup">&reg;</span>. <br />
                <a href="#">Learn More &raquo;</a></div>
              </div>
            </div>
          </div>
          <div class="row">
            <h2 class="headlines headlines-centered">Advisory Examples</h2>
            <!-- Advisory w/bg-->
            <div class="grid grid-moduleWrapper">
              <div class="grid grid-12">
                <div class="module-advisorybgContainer"> <strong>Reservations Advisory:</strong> We are unable to make or change reservations at this time via our website, call center or airport. We sincerely apologize for the inconvenience. <a href="/content/travel-info/before-your-trip/travel-tips/travel-advisories.aspx">Learn More</a> </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Advisory no-bg-->
            <div class="grid grid-moduleWrapper">
              <div class="grid grid-12">
                <div class="module-advisoryContainer"> <strong>Reservations Advisory:</strong> We are unable to make or change reservations at this time via our website, call center or airport. We sincerely apologize for the inconvenience. <a href="/content/travel-info/before-your-trip/travel-tips/travel-advisories.aspx">Learn More</a> </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Advisory no-bg-no-icon-->
            <div class="grid grid-moduleWrapper">
              <div class="grid grid-12">
                <div class="module-advisoryTextContainer"> <strong>Reservations Advisory:</strong> We are unable to make or change reservations at this time via our website, call center or airport. We sincerely apologize for the inconvenience. <a href="/content/travel-info/before-your-trip/travel-tips/travel-advisories.aspx">Learn More</a> </div>
              </div>
            </div>
          </div>
          
          <!-- Second Section-->
          <div class="row panelGrid">
            <div class="grid grid-moduleWrapper">
              <h2 class="headlines headlines-centered">Stunning Destinations</h2>
              <div class="grid grid-3-noMargin">
                <div class="module-whiteContainer">
                  <div id="pic1" class="module-Picturecontainer"></div>
                  <div class="module-headlines">
                    <h3>Chicago</h3>
                    <h4>Second to none.</h4>
                  </div>
                  <div class="module-content"> Take in stunning views of the city at the Signature Room in the John Hancock building.</div>
                  <div class="module-tealContainer"><a href="#">See more<span class="btn-circle">></span></a></div>
                </div>
              </div>
              <div class="grid grid-3-noMargin">
                <div class="module-whiteContainer">
                  <div id="pic2" class="module-Picturecontainer"></div>
                  <div class="module-headlines">
                    <h3>Mission Inn</h3>
                    <h4>Subheader</h4>
                  </div>
                  <div class="module-content"> Mesmorising Photo of The Historical Mission Inn Staircase in California, USA </div>
                  <div class="module-tealContainer"><a href="#">See more<span class="btn-circle">></span></a></div>
                </div>
              </div>
              <div class="grid grid-3-noMargin">
                <div class="module-whiteContainer">
                  <div id="pic3" class="module-Picturecontainer"></div>
                  <div class="module-headlines">
                    <h3>Yosemite</h3>
                    <h4>Subheader</h4>
                  </div>
                  <div class="module-content"> Unbelievable Picture of a Crazy Man Highlining In Yosemite National Park </div>
                  <div class="module-tealContainer"><a href="#">See more<span class="btn-circle">></span></a></div>
                </div>
              </div>
              <div class="grid grid-3-noMargin">
                <div class="module-whiteContainer">
                  <div id="pic4" class="module-Picturecontainer"></div>
                  <div class="module-headlines">
                    <h3>Dusseldorf</h3>
                    <h4>Subheader</h4>
                  </div>
                  <div class="module-content"> Street Art. Dusseldorf, Germany</div>
                  <div class="module-tealContainer"><a href="#">See more<span class="btn-circle">></span></a></div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Second Section-->
          <div class="row panelGrid">
            <div class="grid grid-moduleWrapper">
              <h2 class="headlines headlines-centered">Stunning Destinations</h2>
              <div class="grid grid-4-noMargin">
                <div class="module-whiteContainer">
                  <div id="pic1" class="module-Picturecontainer"></div>
                  <div class="module-headlines">
                    <h3>Chicago</h3>
                    <h4>Second to none.</h4>
                  </div>
                  <div class="module-content"> Vegas, do we need to say more? America's playground for grownups is open 24/7 and waiting for you. Book it and tell your friends. </div>
                  <div class="module-tealContainer"><a href="#">See more<span class="btn-circle">></span></a></div>
                </div>
              </div>
              <div class="grid grid-4-noMargin">
                <div class="module-whiteContainer">
                  <div id="pic2" class="module-Picturecontainer"></div>
                  <div class="module-headlines">
                    <h3>Mission Inn</h3>
                    <h4>Subheader</h4>
                  </div>
                  <div class="module-content"> Mesmorising Photo of The Historical Mission Inn Staircase in California, USA </div>
                  <div class="module-tealContainer"><a href="#">See more<span class="btn-circle">></span></a></div>
                </div>
              </div>
              <div class="grid grid-4-noMargin">
                <div class="module-whiteContainer">
                  <div id="pic4" class="module-Picturecontainer"></div>
                  <div class="module-headlines">
                    <h3>Dusseldorf</h3>
                    <h4>Subheader</h4>
                  </div>
                  <div class="module-content"> Street Art. Dusseldorf, Germany</div>
                  <div class="module-tealContainer"><a href="#">See more<span class="btn-circle">></span></a></div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Second Section-->
          <!-- Second Section-->
          <div class="row">
            <div class="grid grid-moduleWrapper">
              <h2 class="headlines headlines-centered">Stunning Destinations</h2>
              <div class="grid grid-3x4">
                <div class="destination-vegas module-Picturecontainer"></div>
                <div class="module-headlines">
                  <h3>Las Vegas</h3>
                  <h4>A few nights of decadence</h4>
                </div>
                <div class="module-content"> Vegas, do we need to say more? America's playground for grownups is open 24/7 and waiting for you. Book it and tell your friends. <br />
                  <a href="#">Learn More &raquo;</a></div>
                </div>
                <div class="grid grid-3x4">
                  <div class="destination-newyork module-Picturecontainer"></div>
                  <div class="module-headlines">
                    <h3>New York</h3>
                    <h4>Come to the center of it all</h4>
                  </div>
                  <div class="module-content"> It's probably the most iconic place in America and a city that truly lives up to its reputation. New York feels like the capital of the world. <br />
                    <a href="#">Learn More &raquo;</a></div>
                  </div>
                  <div class="grid grid-3x4">
                    <div class="destination-sandiego module-Picturecontainer"></div>
                    <div class="module-headlines">
                      <h3>San Diego</h3>
                      <h4>Stay classy in San Diego</h4>
                    </div>
                    <div class="module-content">Experience of the best year-round climates in the country. In San Diego the summers are dry and the winters are mild&mdash;truly the best of both worlds.<br />
                      <a href="#">Learn More &raquo;</a></div>
                    </div>
                    <div class="grid grid-3x4-last">
                      <div class="destination-orlando module-Picturecontainer"></div>
                      <div class="module-headlines">
                        <h3>Orlando</h3>
                        <h4>The theme park destination</h4>
                      </div>
                      <div class="module-content"> More fun than you can handle! Orlando is home to Walt Disney World<span class="sup">&reg;</span> , Universal Orlando<span class="sup">&reg;</span>, SeaWorld<span class="sup">&reg;</span>, and Legoland<span class="sup">&reg;</span>. <br />
                        <a href="#">Learn More &raquo;</a></div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Image with Text on right-->
                  <div class="row">
                    <div class="grid grid-moduleWrapper">
                      <h2 class="headlines headlines-centered">Explore More. Spend Less.</h2>
                      <div class="grid grid-5">
                        <div id="emsl2" class="module-whiteContainer">
                          <div class="grid-leftinsidebox">
                            <div class="module-emslSalmonContainer module-headlinesInBoxes">
                              <h3>Lorem Ipsum</h3>
                              <h4>Subheader</h4>
                              <div class="grid-modulePrice"> <span class="module-price">$129</span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="grid grid-7-last">
                        <div class="module-content module-clearContainer"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur.
                          <div class="btn-wrapper"><a class="btn btn-primary" href="#">Button</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Image with Text on left-->
                  <div class="row">
                    <div class="grid grid-moduleWrapper">
                      <h2 class="headlines headlines-centered">Explore More. Spend Less.</h2>
                      <div class="grid grid-7">
                        <div class="module-content module-clearContainer"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur.
                          <div class="row">
                            <div class="btn-wrapper"><a class="btn btn-primary" href="#">Button</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="grid grid-5-last">
                        <div id="emsl2" class="module-whiteContainer">
                          <div class="grid-leftinsidebox">
                            <div class="module-emslSalmonContainer module-headlinesInBoxes">
                              <h3>Lorem Ipsum</h3>
                              <h4>Subheader</h4>
                              <div class="grid-modulePrice"> <span class="module-price">$129</span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>                  
                  <!--Closing div-->
                </div>
                <footer id="footer" class="row row-fullWidth footer">
                  <nav class="navFooter">
                    <div class="grid grid-3x4">
                      <h6>About Alaska</h6>
                      <ul>
                        <li><a href="#">Careers</a></li>
                        <li><a href="https://easybiz.alaskaair.com/ssl/signin/cosignin.aspx?CurrentForm=UCCoSignInStart&lid=footer:easyBiz">EasyBiz</a></li>
                        <li><a href="#">Blog</a></li>
                      </ul>
                    </div>
                    <div class="grid grid-3x4">
                      <h6>Services</h6>
                      <ul>
                        <li><a href="#">Arrival and departure</a></li>
                        <li><a href="#">Check-in information</a></li>
                        <li><a href="#">Baggage</a></li>
                      </ul>
                    </div>
                    <div class="grid grid-3x4">
                      <h6>Custom Support</h6>
                      <ul>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">FAQ Help</a></li>
                        <li><a href="#">Refund</a></li>
                      </ul>
                    </div>
                    <div class="grid grid-3x4-last">
                      <h6>Newsletter</h6>
                      <ul>
                        <li>Enter your email address</li>
                        <li><input type="email" name="email"><a href="#"><i class="fa fa-envelope"></i></a></li>
                        <li></li>
                      </ul>
                    </div>
                  </nav>
                </footer>
                <footer class="row row-fullWidth footer subfooter">
                  <nav class="navFooter">
                    <div class="grid grid-6">
                     <ul class="nav-socialLinks">
                        <li class="mobile-headline"><strong>Connect with us</strong></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-quote-left"></i></a></li>
                      </ul>
                    </div>
                  </nav>
                  <nav class="navFooter">
                    <div class="grid grid-6-last">
                      <ul class="legal">
                        <li>Copyright &copy; 1995 - 2014 Alaska Air Group, Inc. All Rights Reserved</li>
                      </ul>
                    </div>
                  </nav>
                </footer>
                <!--<footer class="row row-fullWidth subfooter">
                  <div class="grid">
                    

                  </div>
                </footer>-->
              </body>
            </html>